@charset "utf-8";

// webfonts
@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'NEXONLv2Gothic';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'NEXONLv2Gothic';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'NEXONLv2Gothic';
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-style: normal;
}
// reset
// 여백 초기화 
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
    margin: 0;
    padding: 0
}
// variable
$font-Six: 'Six Caps';
$font-Nexon1:'NEXONLv1Gothic';
$font-Nexon2: 'NEXONLv2Gothic';
$font-Gmarket: 'GmarketSans';


$gradient1 : linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%); 
$gradient2 : linear-gradient(to bottom,  #a6c0fe 0%,#f68084 100%); 
$gradient3 : linear-gradient(to bottom,  #e0c3fc 0%,#8ec5fc 100%);
$gradient4 : linear-gradient(to bottom,  #5ee7df 0%,#b490ca 100%);
$gradient5 : linear-gradient(to bottom,  #9890e3 0%,#b1f4cf 100%); 
$gradient6 : linear-gradient(to bottom,  #a18cd1 0%,#fbc2eb 100%);

// mixin
@mixin positionCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin content {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}

// agent
.iphone main {
    padding: 10px;
}
.android main {
    padding: 10px;
}

// bg
.bg {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &::before {
        @include content;       
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.6);
        z-index: -1;
    }
}

    @for $i from 1 through 10 {
        .bg#{$i}{
            background-image: url(../img/bg#{$i}.jpg);
        }
    }


// main
#main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #11e8bb;
    background: $gradient1 ; 

    &.menu {
        background: $gradient2 ; 
    }
    &.mouse {
        background: $gradient3; 
    }
    &.slider {
        background: $gradient4 ; 
    }
    &.parallax {
        background: $gradient5 ; 
    }
    &.game {
        background: $gradient6 ; 
    }
}

#contents {
    h1 {
        @include positionCenter;
        font-size: 10vw;
        white-space: nowrap;    /* 한줄쓰기 */
        font-family: $font-Six, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1vw;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(to bottom , #8200c9, #3e035c);
    }
}

#nav {
    @include positionCenter;
    bottom: 10px;
    top: auto;

    li {
        list-style: none;
        display: inline;
        
        a {
            color: #fff;
            text-decoration: none;
            width: 100px;
            height: 40px;
            line-height: 40px;
            border: 1px solid #fff;
            display: inline-block;
            border-radius: 50px;
            font-size: 14px;
            text-align: center;
            margin: 4px;
            font-family: $font-Nexon1;
            box-shadow: inset 0 0 0 #fff;
            transition: all 0.4s;

            &:hover {
                box-shadow: inset 0 -100px 0 #fff;
                color: #6c4a70;
            }
        }
    }
}

// info 
.info {
    color: #fff;
    font-family: $font-Nexon1;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;

    &.right {
        left: auto;
        right: 0px;
    }
    &.bottom {
        top: auto;
        left: auto;
        bottom: 0;
        right: 0;
    }

    h1 {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.6;
        border-bottom: 1px dashed #fff;
        display: inline-block;
        margin-bottom: 10px;
    }
    p {
        font-weight: 300;
        font-size: 16px;
    }
    li {
        list-style: none;
        display: inline;

        a {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            border: 1px dashed #fff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            margin-bottom: 5px;
        }
        &.active {
            a {
                background: #fff;
                color: #000;
            }
        }
    }
    button {
        background: transparent;
        border: 1px solid #fff;
        padding: 5px 20px;
        color: #fff;
        border-radius: 50px;
        box-shadow: 0 0 0 #fff inset;
        transition: all 0.4s;
        cursor: pointer;

        &:hover {
            box-shadow: 0 -50px 0 #fff inset;
            color: #000;
        }
    }
}

// modal
#modal {
    position:fixed;
    left: 0; top: 0;
    width: 100%; height: 100vh;
    z-index: 1000;
    transform: scale(0);

    .modal-bg {
            background: rgba(0,0,0,0.6);
            height: 100vh;
            display:flex;
            align-items: center;
            justify-content: center;
    
            .modal-cont {
                h2 {
                    font-weight: 400;
                    font-size: 30px;
                    margin-bottom: 10px;
                }
                p {
                    font-weight: 300;
                    line-height: 1.6;			
                }
                button {
                    float: right;
                    border: 1px solid #000;
                    background: #000;
                    border-radius: 20px;
                    color: #fff;
                    padding: 5px 10px;
                    cursor: pointer;
                    font-family: 'NEXONLv2Gothic';
                    margin-top: 10px;
                }
        }
    }   
}


#modal.show {
    animation: unfoldIn 1s ease forwards;
}
@keyframes unfoldIn {
    0%    {transform: scaley(0.005) scalex(0);}
    50%   {transform: scaley(0.005) scalex(1);}
    100%  {transform: scaley(1) scalex(1);}
}

#modal.show.hide {
    animation: unfoldOut 1s ease forwards;
}
@keyframes unfoldOut {
    0%    {transform: scaley(1) scalex(1);}
    50%   {transform: scaley(0.005) scalex(1);}
    100%  {transform: scaley(0.005) scalex(0);}
}
#modal.show .modal-bg .modal-cont {
transform: scale(0);
animation: zommIn 0.5s 0.8s ease forwards;
}

#modal.show.hide .modal-bg .modal-cont {
transform: scale(0);
animation: zommOut 0.5s ease forwards;
}

@keyframes zommIn {
    0% { transform: scale(0)}
    100% { transform: scale(1)}
}
@keyframes zommOut {
    0% { transform: scale(1)}
    100% { transform: scale(0)}
}

// code-view
.code-view {
    background: #fff;
    width: 60vw;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    overflow: hidden;

    .view-header {
        border: 1px solid #f2f2f2;

        .dot {
            padding: 13px 10px 10px 15px;

            span {
                width: 12px; height: 12px;
                display: inline-block;
                border-radius: 50%;
                margin: 0 2px;
            }
            span:nth-child(1){
                background-color: #f56565;
            }
            span:nth-child(2){
                background-color: #f6e05e;
            }
            span:nth-child(3){
                background-color: #48bb78;
            }
        }
    }
    .view-title {
        border: 1px solid #f2f2f2;
        padding: 0 11px;
        font-family: 'NEXONLv2Gothic';

        li {
            display: inline;
            list-style: none;

            a {
                text-decoration: none;
                color: #cccccc;
                padding: 10px 10px 12px;
                margin: 0 5px;
                display: inline-block;
            }
            &.active a {
                border-top: 2px solid #667eea;
                color: #4a5568;
            }
        }
    }
    .view-cont {
        height: 70vh;
        overflow-y: scroll;
        background: #f8f8f8;

        > div {
            display: none;
        }
        > div:nth-child(1){
            display: block;
        }
    }
}




@media (max-width: 800px){
    #contents h1 {
        font-size: 15vw;
    }
    ul {
        display: flex;
    }
    #nav li a {
        width: 50px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 10px;
        box-shadow: inset 0 0 0 #fff;
        transition: all 0.4s;
    }
    .info h1 {
        font-size: 15px;
    }
    .info li a {
        margin-right: 5px;
        width: 15px;
        height: 15px;
        line-height: 15px;
    }
    .code-view {
        width: 90vw;
        font-size: 15px;
        overflow: hidden;
        background: #f8f8f8;

    }
    .code-view .view-header .dot {
        padding: 5px;
    }
    .code-view .view-cont {
        height: 50vh;
    }
}