/* skip */
#skip {
    position: relative;
    z-index: 10000;
}

#skip a {
    position: absolute;
    left: 0;
    top: -100px;
    background: #000;
    color: #fff;
    padding: 20px 30px;
    display: inline-block;
}

#skip a:active,
#skip a:focus {
    top: 0;
}

/* layout */
#contents {}

/* #mainCont {
    padding-top: 80px;
} */

/* #mainCont.gray {
    background-color: #f4f4f4;
} */

/* container */
.content-article {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* padding: 100px 0; */
    /* background: rgba(0,0,0,0.3); */
}

.flow-article {
    width: 100%;
    background: #f7f6ff;
    padding: 100px 0;
}

/* header */
#header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 3px solid #466277;
}

#header .member {
    text-align: right;
    padding: 20px;
    width: 1200px;
    margin: 0 auto;
    
}

#header .member a {
    padding: 5px 10px;
    border-radius: 10px;
    transition: background 0.3s, color 0.3s;
    background-color: #E8E8E8;
    color: #466277;
    font-size: 20px;
    font-weight: 700;
}

#header .member a:hover {
    /* background: #000;
    color: #fff; */
}

/* 로그인 member-form */
.member-form {
    font-family: 'NEXONLv1Gothic';
    display: grid;
    grid-template-columns: repeat(2, 577px);
    grid-template-rows: 965px;
    gap: 20px;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
}

.member-form h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.member-form h4 {
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 14px;
}

.member-form .join-info {
    margin-bottom: 20px;
}

.member-form .join-privacy {
    background: #F0F0F0;
    padding: 20px;
    margin-bottom: 50px;
}

.member-form button {
    font-size: 18px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}
.member-form .loginBtn-bottom button{
    font-size: 18px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}

.member-form .loginBtn-bottom {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.member-form .info {
    padding-top: 20px;
    color: #666;
}

.member-form .info a {
    text-decoration: underline;
    color: #666;
}

.member-box label {
    display: block;
    margin-bottom: 20px;
    font-size: 28px;
    color: #466277;
    border-bottom: 1px solid #466277;
}

.member-box input {
    margin-bottom: 40px;
    background-image: url(../);
}




/* 로그인 이미지 */
.member-form .login-right {
    margin: 0 auto;
    margin-top: 150px;
    width: 426px;
}

.member-form .logo {
    text-align: center;
    margin-bottom: 80px;
}
.member-form .logoBlack {
    width: 100%;
    height: 124px;
}



/* 로그인 비밀번호 찾기 */


/* 푸터 */
#footer {
    font-family: 'NEXONLv1Gothic';
    position: fixed;
    background: #466277;
    width: 100%;
    height: 100%;
}
.footerWrap {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 180vh;
}
.fLogo {
    margin-left: 5%;
    position: absolute;
    width: 193px;
    height: 59px;
}
.fLogoTitle {
    margin-left: 25%;
    position: absolute;
    font-size: 10.8px;
    font-weight: bold;
    color: #fff;
}
.textZon {
    margin-left: 55%;
    position: absolute;
    color: #fff;
    font-size: 13px;
}
.textZon ul li strong {
    font-weight: bold;
}





/* 회원가입 join-form*/
.join-wrap {
    width: 960px;
    margin-bottom: 100px;
}
.content-article.join {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    /* padding: 100px 0; */
    /* background: rgba(0,0,0,0.3); */
    padding-top: 100px;
}
.join-form {
    color: #466277;
}
.join-form h2 {
    font-size: 60px;
    margin-bottom: 25px;
}
.join-form p {
    font-size: 40px;
    margin-bottom: 25px;
}


/* 약관 동의 join-privacy*/
.join-privacy {
    border: 2px solid #466277;
    height: 400px;
    overflow: auto;
    padding: 26px;
    margin-bottom: 25px;
}
.join-privacy ul li {
    font-size: 15px;
    line-height: 1.3;
    color: #666;
}
.join-privacy::-webkit-scrollbar {
    width: 18px;
}
.join-privacy::-webkit-scrollbar-thumb {
    background-color: #466277;
}
.join-privacy::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* 회원가입 약관 동의 체크박스 join-checkbox */
.join-checkbox {
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.join-checkbox .checkbox {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border-radius: 5px;
}
.join-checkbox .joinAgree {
    width: 62px;
    height: 35px;
    border-radius: 5px;
    background-color: #466277;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
}
input:focus {
    outline: none;
}

/* input[type="checkbox"]:after {
    border-radius: 5px;
} */

/* 회원가입 입력 폼 */

.join-insert .left .input_early_join{
    
    margin-right: 5px;
}

.join-insert2 .left .input_early_join{


}
.join-insert .emailBtn {
    background: #466277;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 20px;
    float: right;
}
.member-box label {
    margin-top: 25px;
}

/* 회원가입 양식 */
.join-box {
    /* position: relative; */
}
.join-box .join-one {
    display: flex;
}
.join-box .join-one .join-two {}
.join-box label {
    font-size: 27.9px;
    color: #466277;
}
.join-box .input_write {
    width: 830px;
    height: 70px;
    border-radius: 5px;
    border: solid 2px #466277;
    margin-top: 28.2px;
    margin-bottom: 37px;
    padding: 0 25px;
}
.join-box .input_write2 {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: solid 2px #466277;
    margin-top: 28.2px;
    margin-bottom: 37px;
    padding: 0 25px;
}
.join-box .label-member-line {
    width: 960px;
    border-bottom: 2px solid #466277;
}
.join-box .join-btn1 {
    /* position: absolute;
    right: 12%; top: 15.5%;
    transform: translate(-50%, -50%); */
    margin-top: 28px;
    display: block;
    float: right;
}
.join-box .join-btn2 {
    /* position: absolute;
    right: 12%; top: 42%;
    transform: translate(-50%, -50%); */
    margin-top: 70px;
}
.join-box .join-btn1 button {
    width: 122px;
    height: 70px;
    border-radius: 5px;
    border: solid 2px #466277;
    background-color: #466277;
    color: #fff;
    font-size: 30px;
}
.join-box .join-btn2 button {
    width: 122px;
    height: 70px;
    border-radius: 5px;
    border: solid 2px #466277;
    background-color: #466277;
    color: #fff;
    font-size: 30px;
}
.member-form .btn_submit {
    width: 996px;
    height: 70px;
    border-radius: 5px;
    background-color: #466277;
    color: #fff;
    font-size: 42.2px;
    font-weight: 700;
    padding: 6px 410.6px 3.7px 411px;
    margin-bottom: 102px;
}
#joinBtn {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: solid 2px #466277;
    background-color: #466277;
    color: #fff;
    font-size: 30px;
}

/* 비밀번호 찾기 */
.findPw-form {
    margin: 0 auto;
    margin-top: 150px;
    width: 966px;
    font-family: 'NEXONLv1Gothic';
}

.findPw-form h1 {
    font-size: 80px;
    color: #466277;
}
.findPw-form p {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #466277;
}
.findPw-form button {
    font-size: 18px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}

.findPw-form .join-box .input_write {
    width: 830px;
    height: 70px;
    border-radius: 5px;
    border: solid 2px #466277;
    margin-bottom: 37px;
    padding: 0 25px;
}

.findPw-box .join-one {
    display: flex;
}
.findPw-box .join-one .join-two {}
.findPw-box label {
    font-size: 27.9px;
    color: #466277;
}
.findPw-box .input_write {
    width: 830px;
    height: 70px;
    border-radius: 5px;
    border: solid 2px #466277;
    padding: 0 25px;
}
.findPw-box .input_write2 {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: solid 2px #466277;
    margin-bottom: 37px;
    padding: 0 25px;
}
.findPw-box .label-member-line {
    width: 960px;
    border-bottom: 2px solid #466277;
}
.findPw-box .join-btn1 {
    /* position: absolute;
    right: 12%; top: 15.5%;
    transform: translate(-50%, -50%); */
    display: block;
    float: right;
}
.findPw-box .join-btn2 {
    /* position: absolute;
    right: 12%; top: 42%;
    transform: translate(-50%, -50%); */
    margin-top: 70px;
}
.findPw-box .join-btn1 button {
    width: 122px;
    height: 70px;
    border-radius: 5px;
    border: solid 2px #466277;
    background-color: #466277;
    color: #fff;
    font-size: 30px;
    margin-bottom: 65px;
}
.findPw-box .join-btn2 button {
    width: 122px;
    height: 70px;
    border-radius: 5px;
    border: solid 2px #466277;
    background-color: #466277;
    color: #fff;
    font-size: 30px;
}
.member-form .btn_submit {
    width: 996px;
    height: 70px;
    border-radius: 5px;
    background-color: #466277;
    color: #fff;
    font-size: 42.2px;
    font-weight: 700;
    padding: 6px 410.6px 3.7px 411px;
    margin-bottom: 102px;
}
#joinBtn {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: solid 2px #466277;
    background-color: #466277;
    color: #fff;
    font-size: 30px;
}