p, a, h1, h2, h3, h4, h5, h6 {      /* 글자 깨짐 방지 */
    transform: skew(-0.1deg);
}
.testType{
    background: #232323 url(../img/main.jpg) 
    repeat-x 48% 0/3380px 1652px;
}
.container {
    max-width: 100%;
    min-height: 100%;
    position: relative;
    
}
.wrap {
   /* position: relative; */
}
.menu {
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100px;
    opacity: 1;
    display: flex;
    color: #fff;
}
.menu .menu-logo {
   width: 30px;
   height: 30px;
   padding: 37px 193px;
   position: relative;
}
.menu h2 {
    position: absolute;
    left: 12%;
    top: 36%;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing :1px;    /* 글자 간격 */
    font-weight: 700;
    font-family: 'GmarketSans';
}
.menu .menu-cate {
    padding: 40px 182px;
    font-size: 17px;
    font-weight: 500;
}
.menu .menu-cate span {
    margin-right: 47px;
    letter-spacing :1px;  
}
.menu .login {
    position: absolute;
    border: 0.5px solid rgb(204, 204, 204);
    border-radius: 20px;
    padding: 8px 20px;
    font: 16px;
    left: 81%;
    top: 52%;
    transform: translateY(-50%);
}
.nav {
    position: absolute;
    left: 47%;
    top: 90%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.nav .nav-title {
    font-family: 'GmarketSans';
    text-transform: uppercase;
    font-size: 70px;
    white-space: nowrap;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 45px;
}
.nav .nav-p {
    font-size: 40px;
    font-weight: 700;
    display: block;
    margin-bottom: 30px;
}
.nav .nav-desc {
    font-size: 20px;
    line-height: 1.8;
    display: block;
}

/* swiper */
.swiper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.swiper-slide .slider-inner {
    width: 1400px;
    margin: 0 auto;
    color: #fff;
}
.swiper-slide .slider-inner em {
    font-family: 'NEXONLv1Gothic';
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 100px;
    display: block;
}
.swiper-slide .slider-inner h3 {
    font-family: 'GmarketSans';
    font-size: 100px;
    font-weight: 300;
    line-height: 1.2;
    text-indent: -8px; /* 들여쓰기 */
}
.swiper-slide .slider-inner p {
    font-family: 'NEXONLv1Gothic';
    font-size: 20px;
    font-weight: 300;
}
.swiper-slide .slider-inner .btn{
    display: block;
    padding-bottom: 100px;
    margin-top: 260px;
}
.swiper-slide .slider-inner .btn a {
    width: 200px;
    height: 50px;
    display: inline-block; /* 가로 정렬 */
    text-align: center;
    line-height: 50px;
    font-family: 'NEXONLv1Gothic';
    font-size: 16px;
    margin-right: 7px;
}
.swiper-slide .slider-inner .btn a.white {
    background: #fff;
    color: #000;
}
.swiper-slide .slider-inner .btn a.black {
    background: #000;
    color: #fff;
}
.swiper-pagination {
    position: absolute;
    left: 50% !important;
    bottom: 35px;
    transform: translateX(-50%);
}
.swiper-pagination .swiper-pagination-bullet {
    width: 15px; height: 15px;
    border: 3px solid #fff;
    display: inline-block;
    border-radius: 50%;
    margin: 0 6px;
    box-sizing: border-box;
    opacity: 1;
    background-color: transparent;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
}
.swiper-button-prev {
    width: 21px;
    height: 41px;
    display: block;
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    color: #fff;
}
.swiper-button-next {
    width: 21px;
    height: 41px;
    display: block;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    color: #fff;
}