* {
    padding: 0;
    margin: 0;
}
#wrap {
    font-family: "GmarketSans";
}

/* p1 */
#p1 {
    height: 100vw;
}
.container {
    width: 1680px;
    margin: 0 auto;
}
.menu {
    width: 100%;
    font-family: 'Poppins',sans-serif;
    float: right;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.6;
}
.menu a {
    text-align: right;
    display: block;
}
.main {
    padding-top: 4.3vw;
}
.main h2 {
    white-space: nowrap;
    font-size: 7.5vw;
    font-weight: 300;
    text-decoration: underline;
}
.main .mt1 {

}
.main .mt2 {
    
    text-align: center;
}
.main .mt3 {
    
    text-align: right;
}
.main .mt4 {
    
}
/* .main .line {
    border: 1px solid #000;
    width: 100%;
    margin-top: -4vw;
} */
.scroll {
    display: flex;
    align-items: center;
}
.scroll span {}
.scroll span img {}