* {
    padding: 0;
    margin: 0;
}
.container {
    width: 1400px;
    margin: 0 auto;
}

.site_wrap {}

.site_wrap .site {
    font-family: "GmarketSans";
}
.site_wrap .site .site_num {
    font-size: 40vw;
    font-weight: 700;
    color: #F2F2F2;
    position: relative;
    left: -2vw;
    top: 32vw;
    z-index: -1;
}
.site_wrap .site .container {
    display: flex;
}
.site_wrap .site .left {
    position: relative;
    margin-right: 10.5vw;
}
.site_wrap .site .left img {
    display: block;
    width: 40vw;
}
.site_wrap .site .left .frame {
    position: absolute;
    left: 0.8vw;
    top: 0.8vw;
    width: 38.5vw;
    height: 21.8vw;
    overflow: hidden;
}
.site_wrap .site .left .frame img:hover {
    bottom: -2vw;
    transform: translateY(-850px);
    transition: 2s;
}
.site_wrap .site .right {
    text-align: right;
}
.site_wrap .site .right img {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    text-align: right;
    margin-bottom: 1vw;
}
.site_wrap .site .right span {
    font-size: 1vw;
}
.site_wrap .site .right h2 {
    font-size: 4vw;
    white-space: nowrap;
}
.site_wrap .site .right p {
    font-size: 1vw;
    white-space: nowrap;
    margin-top: 1.5vw;
    margin-bottom: 2vw;
    font-weight: 300;
}
.site_wrap .site .right .site_btn {
}
.site_wrap .site .right .site_btn a {
    background-color: #000;
    color: #fff;
    font-weight: 700;
    font-size: 1vw;
    padding: 10px 30px;
}

@media (max-width: 1400px) {
    .site_wrap .site .site_num {
        display: none;
    }
    .site_wrap .site .container {
        display: block;
    }
    .site_wrap .site .left {
        position: relative;
        margin-right: 0;
    }

    .site_wrap .site .left img {
        width: 99%;
    }

    .site_wrap .site .left .frame {
        position: absolute;
        left: 2.2vw;
        top: 2.2vw;
        width: 96.2vw;
        height: 54.8vw;
        overflow: hidden;
    }
    .site_wrap .site .left .frame img:hover {
        bottom: -2vw;
        transform: translateY(-1450px);
        transition: 2s;
    }

    .site_wrap .site .right {
        text-align: center;
    }
}

