/* layout */
#contents {}
#content1 {
    height: 100vh;
    padding: 0 0 10vw;
    /* background-color: #ccc; */
}
#content2 {
    /* height: 2000px; */
    background-color: #F1D9F2;
    padding: 10vw 0 10vw;
}
#content3 {
    /* height: 2000px; */
}
#content4 {
    /* height: 2000px; */
}
#content5 {
    /* height: 2000px; */
}
#content6 {
    /* height: 2000px; */
}
#content7 {
    /* height: 2000px; */
}
#footer {
    background-color: #F1D9F2;
    /* height: 2000px; */
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.scroll {
    position: fixed;
    left: 0.6vw;
    bottom: 0.6vw;
    width: 3.0vw;
    height: 3.0vw;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    text-align: center;
    line-height: 3.0vw;
    color: #000;
    z-index: 10000;
}

/* header */
#header {
    position: fixed;
    right: 5%;
    top: 2%;
    text-align: right;
}
#header .nav {
    font-family: 'Poppins', sans-serif;
}
#header .nav ul {}
#header .nav li a {
    color: #000;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    font-size: 1vw;
    line-height: 1.6;
    font-weight: 400;
    padding-left: 3vw;
}
#header .nav li a .bg {
    width: 0; height: 100%;
    background: #000;
    display: inline-block;
    position: absolute;
    right: 0; top: 0;
    z-index: -1;
}
#header .nav li.active a {
    color: #fff;
}
#header .nav li.active a .bg {
    width: 100%;
}

/* ham */
.ham {
    visibility: hidden;
    position: fixed;
    right: 5%;
    top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color : #000;
}
.burger {

}
.burger div {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 3px;
}

/* cont1 */
.cont1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleWrap {
    width: 90%;
    background-color: #fff;
}
.titleWrap > div {
    font-family: "GmarketSans";
    width: 100%;
    height: 8vw;
    margin: 3vw 0;
    font-size: 8vw;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}
.titleWrap > div:nth-child(1) {
    margin-top: 0;
}
.titleWrap strong {
    font-weight: 300;
    position: absolute;
    left: -1vw; bottom: -2.5vw;
    color: #000;
}
.titleWrap > div:nth-child(2) strong {
    left: 10vw;
}
.titleWrap > div:nth-child(3) strong {
    left: auto;
    right: -9px;
}
.titleWrap > div .bg {
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 0.2vw;
    background: #000;
}
.img1 {
    position: absolute;
    right: 20vw;
    top: -3.1vw;
    width: 11.93vw;
}
.img2 {
    position: absolute;
    left: 0vw;
    top: -3vw;
    width: 10.46vw;
}
.img3 {
    position: absolute;
    left: 40vw;
    top: 0vw;
    width: 13vw;
}

/* cont2 */
.cont2 {
    display: flex;
    position: relative;
}
.aboutTitle {
    margin: 5.5vw 0;
    font-family: 'Poppins', sans-serif;
}
/* .aboutTitle .active:hover .aboutImg .active {
    display: block;
} */
.aboutTitle  strong {
    line-height: 0.9;
    font-weight: 100;
    font-size: 7vw;
    cursor: pointer;
}

.aboutImg {
    position: relative;
    z-index: 1;
    margin: 5vw 0;
}
.aboutImg img {
    position: absolute;
    opacity: 0;
    z-index: 0;
    animation: fade-out 0.6s;
    width: 40vw;
    height: 40vw;
    border-radius: 70%;
    object-fit: cover; /*이미지 왜곡 방지*/
}

.aboutImg .show {
    opacity: 1;
    z-index: 1;
    animation: fade-in 0.6s;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* .aboutName {
    position: absolute;
    right: 4vw;
    bottom: 5vw;
}
.aboutName h2 {
    font-size: 1.2vw;
    font-weight: 700;
} */

/* cont3 */
.cont3 {
    overflow: hidden;
    padding-top: 0.3vw;
    position: relative;
    padding-top: 100px;
}
.cont3 .site_img {
    width: 100vw;
    position: relative;
    overflow: hidden;
    opacity: 0;
}

.cont3 .site_img>div {
    width: 9vw;
    height: 9vw;
    float: left;
    perspective: 35.7vw;
}

.cont3 .site_img>div span {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    background-size: cover;
    display: block;
    transition: all 0.4s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    background: url("../img/background1.jpg");
    background-attachment: fixed;
}
.cont3 .site_img h2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    font-size: 9vw;
    line-height: 0.91;
    width: 100%;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.cont3 .site_img h2 em span {
    opacity: 0;
    display: inline-block;
    transform: translateY(5vw);
}

.cont3 .site_img h2 strong {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.cont3 .site_img h2 strong span {
    opacity: 0;
    display: inline-block;
    transform: translateY(10vw);
}
/* .cont3 .site_img:hover>div:nth-child(even) span {
    transform: rotateY(180deg);
    width: 50%;
    height: 50%;
} */

/* site-wrap */
.site_wrap {
    padding-top: 500px;
    overflow: hidden;
}

.site_wrap .site {
    font-family: "GmarketSans";
    position: relative;
}
.site_wrap .site .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 400px;
}
.site_wrap .site .site_num {
    font-size: 40vw;
    font-weight: 700;
    color: #F2F2F2;
    position: absolute;
    left: -15vw;
    top: -18vw;
    z-index: -1;
}
.site_wrap .site .left {
    position: relative;
    width: 45%;
}
.site_wrap .site .left img {
    display: block;
    width: 35vw;
}
/* frame1 */
.site_wrap .site .left .frame1 {
    position: absolute;
    left: 0.8vw;
    top: 0.8vw;
    width: 33.5vw;
    height: 18.9vw;
    overflow: hidden;
}
.site_wrap .site .left .frame1 img:hover {
    /* bottom: -2vw;
    transform: translateY(-780px);
    transition: 2s; */
}

/* frame2 */
.site_wrap .site .left .frame2 {
    position: absolute;
    left: 0.8vw;
    top: 0.8vw;
    width: 33.5vw;
    height: 18.9vw;
    overflow: hidden;
}
.site_wrap .site .left .frame2 img:hover {
    bottom: -2vw;
    transform: translateY(-1280px);
    transition: 2s;
}

/* frame3 */
.site_wrap .site .left .frame3 {
    position: absolute;
    left: 0.8vw;
    top: 0.8vw;
    width: 33.5vw;
    height: 18.9vw;
    overflow: hidden;
}
.site_wrap .site .left .frame3 img:hover {
    bottom: -2vw;
    transform: translateY(-1800px);
    transition: 2s;
}

/* frame4 */
.site_wrap .site .left .frame4 {
    position: absolute;
    left: 0.8vw;
    top: 0.8vw;
    width: 33.5vw;
    height: 18.9vw;
    overflow: hidden;
}
.site_wrap .site .left .frame4 img:hover {
    transform: scaleY(1.5);
    transition: 2s;
}

.site_wrap .site .right {
    width: 50%;
    text-align: right;
}
.site_wrap .site .right img {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    text-align: right;
    margin-bottom: 1vw;
    object-fit: cover;
}
.site_wrap .site .right span {
    font-size: 1vw;
}
.site_wrap .site .right h2 {
    font-size: 4vw;
    white-space: nowrap;
}
.site_wrap .site .right p {
    font-size: 1vw;
    white-space: nowrap;
    margin-top: 1vw;
    margin-bottom: 2vw;
    font-weight: 300;
}
.site_wrap .site .right .site_btn a {
    background-color: #000;
    color: #fff;
    font-weight: 700;
    font-size: 1vw;
    padding: 10px 30px;
}
.site_wrap .site:nth-child(even) .container {
    flex-direction: row-reverse;
}
.site_wrap .site:nth-child(even) .site_num {
    left: auto;
    right: -10vw; 
}
.site_wrap .site:nth-child(even) .right {
    text-align: left;
}
/* .siteWrap .site:nth-child(even) .right .site_btn a {
    margin-left: 0px;
    margin-right: 10px;
} */

/* cont4 */
.cont4 {
    overflow: hidden;
    padding-top: 0.3vw;
    position: relative;
}

.cont4 .site_img {
    width: 100vw;
    position: relative;
    overflow: hidden;
    opacity: 0;
}

.cont4 .site_img>div {
    width: 9vw;
    height: 9vw;
    float: left;
    perspective: 35.7vw;
}

.cont4 .site_img>div span {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    background-size: cover;
    display: block;
    transition: all 0.4s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    background: url("../img/background2.jpg");
    background-attachment: fixed;
}

.cont4 .site_img h2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    font-size: 9vw;
    line-height: 0.91;
    width: 100%;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.cont4 .site_img h2 em span {
    opacity: 0;
    display: inline-block;
    transform: translateY(5vw);
}

.cont4 .site_img h2 strong {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.cont4 .site_img h2 strong span {
    opacity: 0;
    display: inline-block;
    transform: translateY(10vw);
}

/* .cont4 .site_img:hover>div:nth-child(even) span {
    transform: rotateY(180deg);
    width: 50%;
    height: 50%;
} */

/* sec4 */
.sec4 {
    margin-bottom: 200px;
}
.sec4 .script_wrap {
    font-family: "GmarketSans";
    margin-top: 600px;
}
.sec4 .script_wrap .script {
    display: flex;
    justify-content: space-between;
    margin-bottom: 400px;
}
.sec4 .script_wrap .script .left {
    width: 30%;
    position: relative;
    /* top: -7vw; */
    z-index: 1;
}
.sec4 .script_wrap .script .left .script_img {}
.sec4 .script_wrap .script .left .script_img img {
    width: 6vw;
    height: 6vw;
    border-radius: 70%;
    object-fit: cover;
}
.sec4 .script_wrap .script .left h2 {
    font-size: 4vw;
    font-weight: 700;
    white-space: nowrap;
    margin-bottom: 1vw;
}
.sec4 .script_wrap .script .left p {
    font-size: 1vw;
    font-weight: 300;
}
.sec4 .script_wrap .script .left .script_btn {
    margin-top: 2vw;
}
.sec4 .script_wrap .script .left .script_btn a {
    background-color: #000;
    color: #fff;
    font-size: 1vw;
    font-weight: 700;
    padding: 10px 30px;
    text-align: center;
    margin-bottom: 10px;

}
.sec4 .script_wrap .script .right {
    position: relative;
}
.sec4 .script_wrap .script .right iframe {
    position: absolute;
    right: 0;
    width: 56vw;
    height: 28vw;
}

.script_wrap .script:nth-child(even) {
    flex-direction: row-reverse;
    margin-bottom: 500px;
}
.script_wrap .script:nth-child(even) .left {
    text-align: right;
    position: relative;
    /* top: -7vw; */
    width: 50%;
    z-index: 1;
}
.script_wrap .script:nth-child(even) .left .script_btn {
    position: absolute;
    right: 0;
}
.script_wrap .script:nth-child(even) .right {
    position: relative;
}
.script_wrap .script:nth-child(even) .right iframe {
    position: absolute;
    left: 0;
}

/* cont5 */
.cont5 {
    overflow: hidden;
    padding-top: 0.3vw;
    position: relative;
}

.cont5 .site_img {
    width: 100vw;
    position: relative;
    overflow: hidden;
    opacity: 0;
}

.cont5 .site_img>div {
    width: 9vw;
    height: 9vw;
    float: left;
    perspective: 35.7vw;
}

.cont5 .site_img>div span {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    background-size: cover;
    display: block;
    transition: all 0.4s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    background: url("../img/background3.jpg");
    background-attachment: fixed;
}

.cont5 .site_img h2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    font-size: 9vw;
    line-height: 0.91;
    width: 100%;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.cont5 .site_img h2 em span {
    opacity: 0;
    display: inline-block;
    transform: translateY(5vw);
}

.cont5 .site_img h2 strong {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.cont5 .site_img h2 strong span {
    opacity: 0;
    display: inline-block;
    transform: translateY(10vw);
}

/* .cont5 .site_img:hover>div:nth-child(even) span {
    transform: rotateY(180deg);
    width: 50%;
    height: 50%;
} */

/* sec5 */
.sec5 {
    font-family: "GmarketSans";
    margin-top: 400px;
}
.sec5 .ani {
    margin-bottom: 300px;
}
.sec5 .ani img {
    width: 6vw;
    height: 6vw;
    border-radius: 70%;
    object-fit: cover;
}
.sec5 .ani h2 {
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 30px;
}
.sec5 .ani p {
    text-align: right;
    margin-top: 3.8vw;
    font-size: 1vw;
    font-weight: 300;
}
.ani_view {
    float: right;
    margin-top: 3vh;
}

.ani_view a {
    background-color: #000;
    color: #fff;
    font-size: 1vw;
    font-weight: 700;
    padding: 10px 30px;
}

/* ani_img1 */
.sec5 .ani .ani_img1 {
    display: flex;
    justify-content: center;
}

.sec5 .ani .ani_img1>div {
    width: 12vw;
    height: 24vw;
    margin: 0.2vw;
    /* float: left; */
    perspective: 35.7vw;
}

.sec5 .ani .ani_img1>div span {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    background: url("../img/ani1.jpg");
    background-attachment: fixed;
    background-size: cover;
    /* 나중에 여기 바꿔서 사진 크게 맞추기 */
    display: block;
    transition: all 0.4s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.sec5 .ani .ani_img1>div:nth-child(1) span {
    border-radius: 300px 0 0 300px;
}

.sec5 .ani .ani_img1>div:nth-child(2) span {
    border-radius: 300px 0 0 300px;
}

.sec5 .ani .ani_img1>div:nth-child(3) span {
    border-radius: 300px 0 0 300px;
}

.sec5 .ani .ani_img1>div:nth-child(4) span {
    border-radius: 0 300px 300px 0;
}

.sec5 .ani .ani_img1>div:nth-child(5) span {
    border-radius: 0 300px 300px 0px;
}

.sec5 .ani .ani_img1>div:nth-child(6) span {
    border-radius: 0 300px 300px 0;
}

/* ani_img2 */
.sec5 .ani .ani_img2 {
    display: flex;
    justify-content: center;
}

.sec5 .ani .ani_img2>div {
    width: 12vw;
    height: 24vw;
    margin: 0.2vw;
    /* float: left; */
    perspective: 35.7vw;
}

.sec5 .ani .ani_img2>div span {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    background: url("../img/ani2.jpg");
    background-attachment: fixed;
    background-size: cover;
    /* 나중에 여기 바꿔서 사진 크게 맞추기 */
    display: block;
    transition: all 0.4s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.sec5 .ani .ani_img2>div:nth-child(1) span {
    border-radius: 300px 0 0 300px;
}

.sec5 .ani .ani_img2>div:nth-child(2) span {
    border-radius: 300px 0 0 300px;
}

.sec5 .ani .ani_img2>div:nth-child(3) span {
    border-radius: 300px 0 0 300px;
}

.sec5 .ani .ani_img2>div:nth-child(4) span {
    border-radius: 0 300px 300px 0;
}

.sec5 .ani .ani_img2>div:nth-child(5) span {
    border-radius: 0 300px 300px 0px;
}

.sec5 .ani .ani_img2>div:nth-child(6) span {
    border-radius: 0 300px 300px 0;
}

/* ani_img3 */
.sec5 .ani .ani_img3 {
    display: flex;
    justify-content: center;
}

.sec5 .ani .ani_img3>div {
    width: 12vw;
    height: 24vw;
    margin: 0.2vw;
    /* float: left; */
    perspective: 35.7vw;
}

.sec5 .ani .ani_img3>div span {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    background: url("../img/ani4.jpg");
    background-attachment: fixed;
    background-size: cover;
    /* 나중에 여기 바꿔서 사진 크게 맞추기 */
    display: block;
    transition: all 0.4s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.sec5 .ani .ani_img3>div:nth-child(1) span {
    border-radius: 300px 0 0 300px;
}

.sec5 .ani .ani_img3>div:nth-child(2) span {
    border-radius: 300px 0 0 300px;
}

.sec5 .ani .ani_img3>div:nth-child(3) span {
    border-radius: 300px 0 0 300px;
}

.sec5 .ani .ani_img3>div:nth-child(4) span {
    border-radius: 0 300px 300px 0;
}

.sec5 .ani .ani_img3>div:nth-child(5) span {
    border-radius: 0 300px 300px 0px;
}

.sec5 .ani .ani_img3>div:nth-child(6) span {
    border-radius: 0 300px 300px 0;
}



/* footer */
.footer {
    margin-top: 300px;
    font-family: "GmarketSans";
}
.contact_wrap {
    display: flex;
}
.contact_wrap img {
    width: 30%;
    height: 1000px;
    object-fit: cover;
}

.contact {
    display: flex;
}

.footer .left {
    padding: 120px 0 0 100px;
}

.footer .left img {
    margin-bottom: 50px;
    width: 12vw;
    height: 12vw;
    border-radius: 70%;
    object-fit: cover;
}

.footer .left h3 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer .left .sns {
    margin-top: 50px;
}

.footer .left .sns img {
    margin-right: 50px;
    width: 2.2vw;
    height: 2.2vw;
    object-fit: cover;
}

.footer .right {
    padding: 120px 0 0 250px;
}

.footer .right h2 {
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 60px;
}

.footer .right h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer .right p {
    font-weight: 24;
    font-weight: 300;
    margin-bottom: 15px;
}
.footer .right .icon {
    margin-top: 50px;
}
.footer .right .icon .icon1 {
    display: flex;
    text-align: right;
}
.footer .right .icon .icon1 img {
    width: 2.2vw;
    height: 2.2vw;
    object-fit: cover;
    margin: 0 50px 50px 0;
}
.footer .right .icon .icon2 {
    display: flex;
}
.footer .right .icon .icon2 img {
    width: 2.2vw;
    height: 2.2vw;
    object-fit: cover;
    margin: 0 50px 0 0;
}



/* 반응형 */
@media (max-width: 1410px) {
    .container {
        width: 98%;
    }
}
@media (max-width: 960px) {
    .site_wrap {
        padding-top: 200px;
    }
    .site_wrap .site .site_num {
        display: none;
    }
    .site_wrap .site .container {
        flex-direction: column;
    }
    .site_wrap .site:nth-child(even) .container {
        flex-direction: column;
    }
    .site_wrap .site .left {
        /* width: 90%;  */
        margin: 30px auto;
    }
    .site_wrap .site .right {
        width: 100%;
        text-align: center;
    }
    .site_wrap .site:nth-child(even) .right {
        text-align: center;
    }
    .site_wrap .site .left img {
        display: block;
        width: 45vw;
    }
    .site_wrap .site .left .frame1,
    .site_wrap .site .left .frame2,
    .site_wrap .site .left .frame3,
    .site_wrap .site .left .frame4 {
        position: absolute;
        left: 1vw;
        top: 1vw;
        width: 43.2vw;
        height: 24.8vw;
        overflow: hidden;
    }
    .site_wrap .site .left .frame1 img:hover {
        bottom: -2vw;
        transform: translateY(-360px);
        transition: 2s;
    }

    .site_wrap .site .left .frame2 img:hover {
        bottom: -2vw;
        transform: translateY(-630px);
        transition: 2s;
    }

    .site_wrap .site .left .frame3 img:hover {
        bottom: -2vw;
        transform: translateY(-830px);
        transition: 2s;
    }

    .site_wrap .site .left .frame4 img:hover {
        bottom: -2vw;
        transform: scaleY(1.5);
        transition: 2s;
    }

    .sec4 .script_wrap {
        margin-top: 300px;
    }
    .sec4 .script_wrap .script {
        flex-direction: column;
    }
    .script_wrap .script:nth-child(even) {
        flex-direction: column;
    }
    .sec4 .script_wrap .script .left {
        /* margin: 30px auto; */
        width: 100%;
        text-align: center;
    }
    .sec4 .script_wrap .script .right {
        position: relative;
    }
    .sec4 .script_wrap .script .right iframe {
        position: relative;
        left: 15%;
        width: 71vw;
        height: 45vw;
    }
    .sec4 .script_wrap .script .left .script_btn {
        display: flex;
        margin: 30px auto;
        justify-content: center;
    }
    .sec4 .script_wrap .script .left .script_btn a {
        margin-left: 10px;
    }
    .script_wrap .script:nth-child(even) .left .script_btn {
        position: sticky;
        display: flex;
        margin: 30px auto;
        justify-content: center;
    }
    .script_wrap .script:nth-child(even) .right {
        position: relative;
    }

    .script_wrap .script:nth-child(even) .right iframe {
        position: absolute;
        left: 15%;
    }
}

@media (max-width: 600px) {
    #header .nav ul {
        display: none;
    }
    .ham {
        visibility: visible;
    }
    #content1 {
        height: 40vh;
    }
    .cont1 {
        height: 40vh;
    }
}
