
body {
    background: #466277;
    position: relative;
}

/* 헤더 */
#header {
    justify-content: space-between;
}
.logout {
    position: absolute;
    right: 2%; 
    margin-top: 30px;
    width: 95px;
    height: 40px;
    border-radius: 10px;
    background-color: #e8e8e8;
    z-index: 1;
}
.logout button {
    font-size: 20px;
    font-weight: bold;
    color: #466277;
    line-height: 2;
    padding-left: 10px;
}
.header__menu {
    position: fixed;
}
.header__menu img {
    display: block;
    width: 167px;
    height: 63px;
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 64px;
}
.header__menu ul {
    padding-left: 30px;
}
.header__menu ul li {}
.header__menu ul .active {
    border: 1px solid #fff;
    background-color: #fff;
    width: 100%;
    height: 55px;
    font-weight: bold;
}
.header__menu ul li a {
    font-size: 22px;
    line-height: 2.5;
    color: #fff;
}
.header__menu ul li.active a {
    color: #466277;
} 


.header__wrap {
    position: absolute;
    right: 2%;
    padding-top: 100px;
}
.header__wrap .container {
    width: 1500px;
    height: 95vh;
    border-radius: 48px;
    background-color: #fff;
}
.header__view {
    width: 1200px;
    margin: 0 auto;
}

.header__view h2 {
    font-weight: bold;
    font-size: 35px;
    color: #466277;
    padding-top: 62px;
    padding-bottom: 25px;
}
.header__view .search {
    display: flex;
    float: right;
}
.header__view .search .search__box {}
.header__view .search .search__box .input_early {
    width: 223px;
    height: 50px;
    border: 2px solid #466277;
    border-radius: 5px;
    margin-right: 10px;
}
.header__view .search .search__btn {}
.header__view .search .search__btn button {
    width: 136px;
    height: 50px;
    border: 2px solid #466277;
    font-size: 20px;
    color: #466277;
    font-weight: bold;
    border-radius: 5px;
    padding-right: 10px;

}
.header__view .search .search__write {}
.header__view .search .search__write button {
    width: 97px;
    height: 50px;
    border: 2px solid #466277;
    background-color: #466277;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
}

.board-table table {
    width: 100%;
    border-top: 3px solid #466277;
    border-bottom: 2px solid #466277;
}
.board-table table .height {
    height: 400px;
    vertical-align: top;
}
.board-table table .left {
    text-align: left;
    vertical-align: top;
    padding-left: 20px;
}
.board-table .btn {
    float: right;
}
.board-table .btn a {
    background: #466277;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
}
.board-table table th {
    background-color: #466277;
    font-weight: normal;
}
.board-table table th,
.board-table table td {
    border-bottom: 1px solid #466277;
    padding: 19px 0;
    text-align: center;
}
.thead {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}
.board-page {
    margin-top: 50px;
}
.board-page ul {
    display: flex;
    justify-content: center;
}
.board-page li a {
    display: block;
    border: 1px solid #466277;
    padding: 13px 10px;
    margin-right: -1px;
}
.board-page li.active a {
    background-color: #466277;
    color: #fff;
}
.headline {
    font-weight: 900;
    font-size: 18px;
    color: #466277;
}
.board-write label {
    width: 100%;
    display: block;
    padding-bottom: 10px;
}
.board-write .title-text {
    width: 100%;
    display: block;
    border: 1px solid #466277;
    padding: 13px;
    margin-bottom: 20px;
    resize: none;
}
.board-write .board-btn {
    font-size: 18px;
    float: right;
    background: #466277;
    color: #fff;
    border-radius: 5px;
    padding: 10px 40px;
}
.content-article {
    margin-left: 8%;
    margin-top: 10%;
    margin-bottom: 300px;
}

/* 네비게이션 */

/* 푸터 */
.footerWrap {
    padding-left: 340px;
    position: relative;
    margin: 0 auto;
    background: #466277;
    height: 180px;
}
#footer {
    position: absolute;
    margin-top: 58%;
    font-family: 'NEXONLv1Gothic';
    width: 100%;
}
.fLogo {
    position: absolute;
    width: 193px;
    height: 59px;
    padding-top: 60px;
}
.fLogoTitle {
    margin-left: 15%;
    position: absolute;
    padding-top: 70px;
    font-size: 10.8px;
    font-weight: bold;
    color: #fff;
}
.textZon {
    margin-left: 40%;
    position: absolute;
    padding-top: 50px;
    color: #fff;
    font-size: 13px;
}
.textZon ul li strong {
    font-weight: bold;
}
@media (max-width:800) {
}