// #mainCont
// #aboutCont
// #referCont
// #scriptCont
// #portCont

// #mainCont
// #mainCont {
//     background-color: #000;
//     height: 100vh;
//     color: #fff;
//     font-family: $font-main;
//     font-size: 9vw;
//     line-height: .91;
//     text-transform: uppercase;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     br {
//         display: none;
//     }
// }

#mainCont {
    margin-top: 154px;
    background-color: #f6f1ed;
    height: 70vh;
    color: #000;
    font-family: $font-main;
    font-size: 120px;
    font-weight: bold;
    line-height: 0.96;
    text-transform: uppercase;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 71px;
    position: relative;


    div {
        position: relative;
        z-index: 1;
        
    }
    img {
        position: absolute;
        left: 20%;
        top: 28%;
        width: 400px;
        height: 400px;
        border-radius: 50%;
    }

    .main__sub {
        position: absolute;
        top: 95%;
        font-family: $font-sub;
        font-weight: 500;
        font-size: 2.5vw
    }
}

@media (max-width: 800px){
    #mainCont {
        font-size: 14vw;

        img {
            width: 312px;
            height: 312px;
            left: 20%;
            top: 22%;
        }
        .main__sub {
            font-size: 5vw;
            top: 73%;
        }
    }
}



@media (max-width: 600px){
    #mainCont {
        font-size: 14vw;

        img {
            width: 312px;
            height: 312px;
            left: 10%;
            top: 11%;
        }
        .main__sub {
            font-size: 5vw;
            top: 62%;
        }
    }
}
